@import "tailwindcss";

@theme {
	--color-primary: #19C0FF;
	--color-primary-100: #F5F8FF;
	--color-primary-200: #DBF5FF;
	--color-text: #0E0E12;
	--color-desc: #65686F;
	--color-text-gray: #CCCFD5;
}

:root {
	--background: #ffffff;
	--foreground: #121216;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #121216;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-nunito-sans), Helvetica, sans-serif;
}

.swap-btn {
	border: 0 !important;
	width: 48px !important;
	height: 48px !important;
	box-shadow: 0px 2px 4px rgba(32, 80, 118, 0.12) !important;
	color: var(--color-primary) !important;
}


.ant-tabs-ink-bar {
	display: none !important;
	height: 0 !important;
}

.full-width-tabs .ant-tabs-nav-list {
	display: flex;
	width: 100%;
}

.full-width-tabs .ant-tabs-tab {
	flex: 1;
	display: flex;
	justify-content: center;
	padding: 0 !important;
}

.full-width-tabs .ant-tabs-tab:not(.ant-tabs-tab-active):not(.ant-tabs-tab-active + .ant-tabs-tab):not(:has(+ .ant-tabs-tab-active))::before {
	content: '';
	position: absolute;
	left: 1px;
	width: 1px;
	height: 40px;
	background: #CFCFCF;
}

.full-width-tabs .ant-tabs-tab:first-child::before {
	left: unset !important;
	right: 1px;
}

.full-width-tabs .ant-tabs-tab-btn {
	width: 100%;
	text-align: center;
}

.ant-form-item-required::before {
	content: unset
}

.ant-select-single {
	height: unset !important;
}

.ant-input-lg,
.ant-input-number-lg,
.ant-picker-large .ant-picker-input>input {
	font-size: 14px !important;
	line-height: 20px !important;
}

.ant-input-number-affix-wrapper input.ant-input-number-input {
	height: unset !important;
	padding: 0 !important;
	font-size: 14px !important;
	line-height: 20px !important
}

.picker-with-icon {
	position: relative;
}

.picker-with-icon .picker-icon-left {
	position: absolute;
	left: 16px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	pointer-events: auto;
	display: flex;
	align-items: center;
	gap: 6px;
}

.picker-with-icon .ant-picker-input>input {
	padding-left: 44px !important;
}

.picker-with-icon .ant-picker-lg,
.picker-with-icon .ant-picker-large {
	/* height: 53px; */
	font-size: 14px !important;
	line-height: 20px !important;
}

.ant-input-outlined,
.picker-with-icon .ant-picker {
	border-radius: 8px;
}

.picker-with-icon .ant-picker-input>input {
	font-size: 14px !important;
	line-height: 20px !important;
	height: 100%;
}